.header{

	background-color: #FFFFFF;
	width: auto;
	height: auto;
	padding: 4px;

}

.header_text{

	color: #000000;
	font-family: inherit;

}

.link{

	color: #ee6e73;

}

.login p {

	text-align: center;
	text-size: 15px;

}

.pic {


	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;

}

.pic img {

	width: 475px;
	height: 95px;

}

.color{

	color:#ee6e73;

}
